// Styles specific to development only
body {
  overflow: hidden;
}

#root, #ui-site {
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
}

.base {
  height: 100%;
}

:global {
  .xfc {
    height: 100%;

    iframe {
      border: 0;
      height: 100%;
      width: 100%;
      vertical-align: top; // Fixes weird iframe sizing problem. Don't ask me why.
    }
  }
}
