:local {
  .home {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; // Ensures scrollbars do not affect width in IE10
    overflow: auto;
    border-top: 5px solid #fff;
    position: absolute;
    width: 100%;
  }

  .title-container {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 85%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
  }

  .title {
    color: #fff;
    font-size: 5.143rem;
    font-weight: 100;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.429rem;
    padding-right: 1.429rem;
  }

  .particles {
    height: 475px;
    position: relative;
    width: 100%;

    > *:first-child {
      height: 100%;
      position: relative;
      width: 100%;
    }
  }

  .content {
    width: 100%;
  }
}
